.about {
  /* border: 1px solid red; */

  background-color: var(---body-bg);
  color: var(---body-bg);

  width: 100%;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1,
h2,
h3 {
  font-family: "Fredoka One", cursive;
  color: var(---destaque);
}

.about-conteudo {
  /* border: 1px solid rgb(255, 251, 0); */

  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.about-titulo {
  /* border: 1px solid rgb(0, 60, 255); */

  color: #030303;
  padding: 30px;
}

.about-conteudo-imagem {
 /* border: 1px solid rgb(0, 78, 35); */
 

  color: #046425;
  width: 650px;
  height: 100%;
}

.about-conteudo-imagem img {
  border-radius: 10px;
  width: 100%;
}

.about-conteudo-texto {
  /* border: 1px solid rgb(225, 0, 255); */

  color: var(---cor-textobk);

  width: 350px;
  height: 100%;
}

