.about {
  /* border: 1px solid red; */

  background-color: var(--magnolia);
  color: var(---body-bg);

  width: 100%;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding-bottom: 100px;
}

.about h1,
.about h2,
.about h3 {
  font-family: "Fredoka One", cursive;
}

.about-conteudo {
  /* border: 1px solid rgb(255, 251, 0); */

  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.about-titulo {
  width: 340px;
  /* border: 1px solid rgb(0, 60, 255); */
  background: var(---placa);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 50px;
}

.about-conteudo-imagem {
  /* border: 1px solid rgb(0, 78, 35); */

  width: 650px;
  height: 100%;
}

.about-conteudo-imagem img {
  border-radius: 10px;
  width: 100%;
}

.about-conteudo-texto {
  /* border: 1px solid rgb(225, 0, 255); */

  color: var(--smoky-black);

  width: 350px;
  height: 100%;
}

.content2 {
  background: var(---placa);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;

  color: var(---body-bg);
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item1 {
  width: 30%;
}
.item1 img {
  width: 100%;
}
.item2 {
  padding: 2px;
  width: 70%;
}
