.big{
    /* background: var(---bannerPrincipal);
    background-repeat: no-repeat;
    background-size: 100%; */
width: 100%;
height: 100%;
}

.big img{
    /* background: var(---bannerPrincipal);
    background-repeat: no-repeat;
    background-size: 100%; */
width: 100%;

}