*,a{
    padding: 0;
    margin: 0;
    text-decoration: none;

}

:root {
    ---body-bg: #949494;
    ---cor-texto: #ffffff;
    ---cor-textobk: #252525;
    ---body-color: #a6a6a6;
    ---link-color: #A3D921;
    ---link-color-hover: #046425;
  
    ---destaque: #262626;
    ---nav-bk: #b9bf0f;   
  
    ---bannerPrincipal: url("../img/banner5.jpg");
  }
