

 .barra {
    background-color: var(---cor-textobk);
    color: #ffffff;
}
.barral a{
    color: var(---cor-texto);
}
.barra a:hover, a:active{
    color: var(---destaque-hover);
}

.brand{
    color: var(---link-color);
    font-family: "Fredoka One", cursive;
}
